extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a#home.balloon.balloon-1.color-1(href='index.html')
      img(src='static/img/tree.png')
    a.balloon.balloon-2.color-2(href='pagina-1.html')
      span 1
    a.balloon.balloon-3.color-3(href='pagina-2.html')
      span 2
    a.balloon.balloon-4.color-4(href='pagina-3.html')
      span 3
    a.balloon.balloon-5.color-5(href='pagina-4.html')
      span 4

//-block scripts