extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a.balloon.balloon-1.color-3(href='pagina-2-dettaglio.html')
      span
        | Pagina 2
        br
        | Dettaglio
      
  a.fixed(href='javascript:window.history.back();'): span Indietro

//-block scripts