extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a.balloon.balloon-1.color-2(href='pagina-1.html')
      span Pagina 1
    a.balloon.balloon-2.color-2(href='http://agora.corp.rcs.group/it/il-mio-lavoro/formazione/catalogo-formazione/webinar', target='_top')
      span LINK INTRANET
    a.balloon.balloon-3.color-2(href='pagina-1-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-4.color-2(href='pagina-1-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-5.color-2(href='pagina-1-dettaglio.html')
      span Dettaglio
      
  a.fixed(href='javascript:window.history.back();'): span Indietro

//-block scripts