extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a.balloon.balloon-1.color-4(href='pagina-3.html')
      span Pagina 3
    a.balloon.balloon-2.color-4(href='pagina-3-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-3.color-4(href='pagina-3-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-4.color-4(href='pagina-3-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-5.color-4(href='pagina-3-dettaglio.html')
      span Dettaglio
      
  a.fixed(href='javascript:window.history.back();'): span Indietro

//-block scripts