extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a.balloon.balloon-1.color-5(href='pagina-4-dettaglio.html')
      span
        | Pagina 4
        br
        | Dettaglio
      
  a.fixed(href='javascript:window.history.back();'): span Indietro

//-block scripts