extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a.balloon.balloon-1.color-3(href='pagina-2.html')
      span Pagina 2
    a.balloon.balloon-2.color-3(href='pagina-2-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-3.color-3(href='pagina-2-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-4.color-3(href='pagina-2-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-5.color-3(href='pagina-2-dettaglio.html')
      span Dettaglio
      
  a.fixed(href='javascript:window.history.back();'): span Indietro

//-block scripts