extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a.balloon.balloon-1.color-2(href='pagina-1-dettaglio.html')
      span
        | Pagina 1
        br
        | Dettaglio
      
  a.fixed(href='javascript:window.history.back();'): span Indietro

//-block scripts