extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a.balloon.balloon-1.color-4(href='pagina-3-dettaglio.html')
      span
        | Pagina 3
        br
        | Dettaglio
      
  a.fixed(href='javascript:window.history.back();'): span Indietro

//-block scripts