@import ('nib')
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')

_accent = #cf212a

.sans-font
  font-family 'Open Sans', sans-serif

.pure-g [class *='pure-u'],
.pure-g-r [class*="pure-u"]
  @extends .sans-font

html,
body
  width 100%
  height 100%
  @extends .sans-font

.pure-form
  input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea
    @extends .sans-font
  button
    @extends .sans-font

.pure-button
  @extends .sans-font

h1, h2, h3,
h4, h5, h6
  font-weight 400

_spacer = 5, 10, 20, 40, 60, 80, 100, 150

for _val in _spacer
  .spacer-{ _val }
    height ( _val * 1px )

.text-left
  text-align left
.text-center
  text-align center
.text-right
  text-align right

  
.page
  width 100%
  height auto

.container
  width 1000px
  margin 0 auto
  padding 0 20px
  
.page.page-fullscreen
  height 100%
  
.balloon
  width 120px
  height @width
  border-radius (@width / 2)
  position absolute
  transform translate(-50%, -50%)
  font-weight bold
  font-size 13px
  text-transform uppercase
  cursor pointer
  
  span
    position absolute
    text-align center
    display block
    top 50%
    left 50%
    transform translate(-50%, -50%)
    
  &.balloon-1
    top 50%
    left 50%
    width 180px
    height @width
    border-radius (@width / 2)
      
  &.balloon-2
    top 20%
    left 20%
      
  &.balloon-3
    top 20%
    left 80%
      
  &.balloon-4
    top 80%
    left 80%
      
  &.balloon-5
    top 80%
    left 20%
    
  &.color-2
    background aquamarine
    &:hover
      background lighten(aquamarine, 15%)
  &.color-3
    background coral
    &:hover
      background lighten(coral, 15%)
  &.color-4
    background darkorange
    &:hover
      background lighten(darkorange, 15%)
  &.color-5
    background indianred
    &:hover
      background lighten(indianred, 15%)

#home
  overflow 
  width 340px
  height @width
  border-radius (@width / 2)
  transform translate(-50%, -50%)
  img
    width 100%

a.fixed
  position fixed
  bottom 10px
  left 50%
  width 80px
  height @width
  border-radius (@width / 2)
  margin-left -(@width / 2)
  background bisque
  font-weight bold
  font-size 12px
  text-transform uppercase
  cursor pointer
  span
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
